In [ ]:
#TABLAS DE DATOS DEL CURSO DE MATEMATICA

In [ ]:
import pandas as pd
import numpy as np
import datetime 

ahora=datetime.datetime.now()
print(ahora.strftime('%d/%m/%Y/%H:%M:%S'))

file='student-mat.csv'
def open_(file):
    data=pd.read_csv(file)
    return(data)
df=open_(file)
df.head(10)

df = data = pd.read_csv(file,sep=';')
df = df.drop(['famsize', 'Medu','Fedu','Mjob','Fjob','reason'], axis=1)
df = df.drop(['schoolsup','famsup', 'activities','nursery','higher','romantic'], axis=1)
df = df.drop(['famrel','freetime', 'goout','Dalc','Walc'], axis=1)

df ['extra']=np.where((df['G3']>15),'0','1')
df ['Aproved']=np.where((df['absences']<15)&(df['G3']<10),'0','1')

df

:

In [4]:
df.to_csv('resultado-mat.csv')

In [ ]:
#TABLA DE DATOS DEL CURSO DE PORTUGUES

In [3]:
import pandas as pd
import numpy as np
import datetime 

ahora=datetime.datetime.now()
print(ahora.strftime('%d/%m/%Y/%H:%M:%S'))

file='student-por.csv'
def open_(file):
    data=pd.read_csv(file)
    return(data)
df1=open_(file)
df1.head(10)

df1=data=pd.read_csv(file,sep=';')
df1 = df1.drop(['famsize', 'Medu','Fedu','Mjob','Fjob','reason'], axis=1)
df1 = df1.drop(['schoolsup','famsup', 'activities','nursery','higher','romantic'], axis=1)
df1 = df1.drop(['famrel','freetime', 'goout','Dalc','Walc'], axis=1)

df1['extra']=np.where((df1['G3']>15),'0','1')
df1['Aproved']=np.where((df1['absences']<11)&(df1['G3']<10),'0','1')

df1

14/10/2022/15:34:47

,school,sex,age,address,Pstatus,guardian,traveltime,studytime,failures,paid,internet,health,absences,G1,G2,G3,extra,Aproved
0,GP,F,18,U,A,mother,2,2,0,no,no,3,4,0,11,11,1,1
1,GP,F,17,U,T,father,1,2,0,no,yes,3,2,9,11,11,1,1
2,GP,F,15,U,T,mother,1,2,0,no,yes,3,6,12,13,12,1,1
3,GP,F,15,U,T,mother,1,3,0,no,yes,5,0,14,14,14,1,1
4,GP,F,16,U,T,father,1,2,0,no,no,5,0,11,13,13,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644,MS,F,19,R,T,mother,1,3,1,no,yes,5,4,10,11,10,1,1
645,MS,F,18,U,T,mother,1,2,0,no,yes,1,4,15,15,16,0,1
646,MS,F,18,U,T,mother,2,2,0,no,no,5,6,11,12,9,1,0
647,MS,M,17,U,T,mother,2,1,0,no,yes,2,6,10,10,10,1,1
648,MS,M,18,R,T,mother,3,1,0,no,yes,5,4,10,11,11,1,1

In [3]:
df1.to_csv('resultado-por.csv')